<% layout('layouts/boilerplate')%>

    <h1 class="text-center">Login</h1>
    
      <form action="/login" method="POST" class="needs-validation" novalidate >
        <!-- no validate prevent form from validating required inputs i.e.. now we can submit empty form
          we can use html required instead of bootstrap validation
         -->
        <div class="mb-3">
          <label class="form-label" for="username">Username</label>
          <input class="form-control" type="text" id="username" name="username" required />
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required />
            <div class="valid-feedback">Looks Good!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required />
            <div class="valid-feedback">Looks Good!</div>
          </div>
  <div class="mb-3"><button class="btn btn-success">Login</button></div>
        
        
      </form>
   
  